<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Num1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link href="https://fonts.googleapis.com/css?family=Lora|Poppins:300,400,500,600,700|Roboto:100,300,400,500,700,900" rel="stylesheet">-->

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- ThemeFisher Icon -->
    <link rel="stylesheet" href="/static/css/themefisher-fonts.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/owl.transitions.css">
    <!-- Light Box -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- fullpage -->
    <!--<link rel="stylesheet" href="/static/css/fullpage.min.css">-->
    <link rel="stylesheet" href="/static/css/playfairdisplaysc.css">
    <!-- <link rel="stylesheet" href="css/vendor/font-awesome.min.css"> -->

    <link rel="stylesheet" href="">


    <link rel="stylesheet" href="/static/css/style.css">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */

    </style>
    

    <script src="/static/js/modernizr.min.js"></script>
  </head>
  <body>
  <!-- Loader to display before content Load-->
  <div class="loading">

    <!-- <img src="img/loader.gif" alt=""> -->

    <div class="windows8 loading-position">
      <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
      </div>
    </div>
  </div> 


 <!-- Navigation -section
  =========================-->
<nav class="navbar navbar-fixed-top navigation" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="index.html">
        <img src="images/logo-yellow.png" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right menu">
        <li><a href="{% url 'web:index' %}">首页</a></li>
        <li><a href="{% url 'web:services' %}">服务</a></li>
        <li><a href="{% url 'web:itemn' %}">产品</a></li>
        <li><a href="blog.html">博客</a></li>
        <li><a href="{% url 'web:contact' %}">联系</a></li>
      </ul>
    </div>
  </div>
</nav>

 <!-- Hero Area -section
  =========================-->
  <header class="hero-area th-fullpage" data-parallax="scroll" style="background: url(/static/img/bg-1.jpg);background-size: cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>我们是有创意的， <br>
            我们保证质量设计</h1>
        </div>
      </div>
    </div>
  </header>




 <!-- Case Study Sections
  =========================-->
<!--案例研究-->
  <section class="case-study">
    <div class="text-center">
      <h2 class="title">案例研究</h2>
    </div>
    <!-- Case Study Description
      top section -->
    {% if articles %}
      {% for article in articles %}
    <div class="case-study-content">
      <div class="container">
        <div class="row">
          {% if forloop.counter == 1 %}
          <div class="col-md-6">
            <div class="img-content">
                <img class="img-responsive" src="/static/media/{{ article.img }}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <!-- inner sub-title -->
            <div class="content">
              <form action="{% url 'web:detail' article.id %}" method="post">
              <h4 class="inner-title">{{ article.title }}</h4>
              <p class="case-description">{{ article.body|truncatechars:50 }}...</p>
              <!-- View More Details -->
              <button class="btn btn-default btn-main">阅读详情</button>
              </form>
            </div>
          </div>
          {% else %}
          <div class="col-md-6">
            <!-- inner sub-title -->
            <div class="content">
              <form action="{% url 'web:detail' article.id %}" method="post">
                <h4 class="inner-title">{{ article.title }}</h4>
                <p class="case-description">{{ article.body|truncatechars:50 }}...</p>
                <!-- View More Details -->
                <button class="btn btn-default btn-main">阅读详情</button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-content">
              <img class="img-responsive" src="/static/media/{{ article.img }}" alt="">
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
      {% endfor %}
    {% endif %}
    <!-- Case Study Description
      bottom section -->

  </section>
  

  <!-- Clients Sections
  =========================-->
  <!--客户意见-->
  <section class="clients" data-parallax="scroll" data-image-src="images/slider/bg-3.jpg">
    <div class="section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="title text-center">
              <h2>客户意见</h2>
            </div>
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 padding-0 slider-main">
            <div class="testimonial-slider">
              {% for pad in pad %}
              <div class="item">
                <!-- Slider item -->
                 <!--<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 padding-0">-->
                  <div class="testimonials-area">
                    <!-- <div class="round-shape"></div> -->
                    <p class="testimonials-description">{{ pad.body }}</p>
                    <div class="author">
                      <img src="/static/media/{{ pad.img }}" alt="Clients">
                      <h3 class="author-name">{{ pad.title }}</h3>
                      <span class="designation">{{ pad.post }}</span>
                    </div>
                  </div>
                <!-- </div> -->
                <!-- End Slider item -->
              </div>
              {% endfor %}


            </div>
            </div>
          </div>
        </div><!-- /.End row -->
      </div>
    </div>
  </section>


  <!-- Clients Logo Sections
  =========================-->
    <!--一排图片，不知道干什么-->
  <section class="clients-logo" data-parallax="scroll" data-image-src="images/slider/bg-1.jpg">
    <div class="section">
      <div class="container">
        <div class="row">
          {% for img in img %}
          <div class="col-md-4 block text-center">
            <img src="/static/media/{{ img.img }}" alt="Client Logo">
          </div>
          {% endfor %}
        </div><!-- /.End row -->
      </div>
    </div>
  </section>


  <!-- Team Sections
  =========================-->
    <!--我们的团队-->
  <section class="team">
    <div class="container-fluid padding-0">
    <!-- Team title -->
    <div class="title text-center">
      <h2>我们的团队</h2>
    </div>
      {% for team in temp %}
    <div class="col-md-4 col-lg-3 padding-0">
      <div class="team-member">
        <div class="th-mouse-effect">
          <div class="team-img">
            <img src="/static/media/{{ team.img }}" alt="Team img">
          </div>
          <div class="overlay text-center">
            <div class="content">
              <h4>{{ team.title }}</h4>
              <span>{{ team.post }}</span>
              <p>{{ team.body }}</p>
            </div>
            <div class="social-media">
              <li><a href="#"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="tf-ion-social-linkedin-outline" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="tf-ion-social-instagram-outline" aria-hidden="true"></i></a></li>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    <div class="col-md-12">
      <div class="join-team text-center">
        <a class="btn btn-default btn-main" href="{% url 'web:jointeam' %}" role="button">加入我们的团队</a>
      </div>
    </div>
    </div>
  </section>

<!-- Contact Us Sections
=========================-->



<!--联系我们-->
<section class="contact-call-to-action">
  <div class="shadow-block vh-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
              <h2>联系我们</h2>
              <p>我们拥有最顶尖的技术支持，<br>
                  可以满足任何需求，<br>
                  需要的请联系我们。</p>
              <a class="btn btn-default btn-main" href="#" role="button">发起联系</a>
            </div>
          </div>
        </div>
    </div>
  </div>
   <div id="map"></div>
</section> 

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="footer-top">
                        <div class="col-md-4">
                            <!-- footer About section
                            ========================== -->
                            <div class="footer-about">
                                <h3 class="footer-title">关于</h3>
                                <p>梦想还是要有的，万一见鬼了呢？<br>
                                 看见别人都那么努力，那么勤奋， <br>
                                  那么意气风发地走在成功的路上，你问问自己， <br>
                                  难道就不想成为他们的绊脚石吗？</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- footer Address section
                            ========================== -->
                            <div class="footer-address">
                                <h3 class="footer-title">地址</h3>
                                <p>某某市某某路某某号楼3楼</p>
                                <p class="contact-address">
                                    联系方式 : <a href="tel:+610383666274">不方便透漏</a> <br>
                                    给我们写信 : <a href="mailto:info@info.com">不要想着写信，不接收的</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- footer Media link section
                            ========================== -->
                            <div class="footer-social-media">
                                <h3 class="footer-title">保持联系</h3>
                                <ul class="footer-media-link">
                                    <li><a href="#"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="tf-ion-social-linkedin-outline" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="tf-ion-social-instagram-outline" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-nav text-center">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="index.html">首页</a></li>
                                <li><a href="services.html">服务</a></li>
                                <li><a href="portfolio.html">产品</a></li>
                                <li><a href="#">我们的团队</a></li>
                                <li><a href="contact.html">联系</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>&copy; 2013-2017 All rights reserved. <br> Design and Developed By Themefisher /  More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- Mixitup -->
    <script src="/static/js/jquery.mixitup.js"></script>
    <!-- Lightbox -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <!-- Parallax -->
    <!--<script src="/static/js/parallax.min.js"></script>-->
    <!-- Video -->
    <script src="/static/js/jquery.vide.js"></script>

    <!-- =======
        Main Js
    ============ -->
    <script src="/static/js/script.js"></script>
  </body>
</html>

