<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Num1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link href="https://fonts.googleapis.com/css?family=Lora|Poppins:300,400,500,600,700|Roboto:100,300,400,500,700,900" rel="stylesheet">-->

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- ThemeFisher Icon -->
    <link rel="stylesheet" href="/static/css/themefisher-fonts.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/owl.transitions.css">
    <!-- Light Box -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- fullpage -->
    <!--<link rel="stylesheet" href="/static/css/fullpage.min.css">-->
    <link rel="stylesheet" href="/static/css/playfairdisplaysc.css">
    <!-- <link rel="stylesheet" href="css/vendor/font-awesome.min.css"> -->

    <link rel="stylesheet" href="">


    <link rel="stylesheet" href="/static/css/style.css">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */

    </style>


    <script src="/static/js/modernizr.min.js"></script>
  </head>
  <body>


  <!-- Loader to display before content Load-->
  <div class="loading">

    <!-- <img src="img/loader.gif" alt=""> -->

    <div class="windows8 loading-position">
      <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
      </div>
    </div>
  </div> 


 <!-- Navigation -section
  =========================-->
<nav class="navbar navbar-fixed-top navigation" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="index.html">
        <img src="images/logo-yellow.png" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right menu">
        <li><a href="{% url 'web:index' %}">首页</a></li>
        <li><a href="{% url 'web:services' %}">服务</a></li>
        <li><a href="{% url 'web:itemn' %}">产品</a></li>
        <li><a href="blog.html">博客</a></li>
        <li><a href="{% url 'web:contact' %}">联系</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

  <!-- Portfolio header-section 
  =========================-->
<!--头部-->
<section class="page-header services-header" data-parallax="scroll" data-image-src="images/header/portfolio-folding-img.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">我们的产品组<br> 我们确保质量设计。</h1>
      </div>
    </div>
  </div>
</section>

 <!-- Portfolio Sections 
 =========================-->
 <section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <h2>我们的产品组</h2>
        </div>
          <!--小标题分类-->
        <div class="protfolio-mixitup-btn text-center">
          <button class="filter btn btn-default btn-main" data-filter=".all">所有</button>
          <button class="filter btn btn-default btn-main" data-filter=".category-1">品牌</button>
          <button class="filter btn btn-default btn-main" data-filter=".category-2">用户界面</button>
          <button class="filter btn btn-default btn-main" data-filter=".category-3">印刷设计</button>
        </div>
        <div id="Container">
            {% for en in items %}
            <div class="mix col-md-4 col-sm-6 col-xs-12 all category-1" data-my-order="1">
            <div class="portfolio-list">
              <a href="{% url 'web:itemsingle' en.id %}">
                <div class="th-mouse-portfolio-card">
                  <div class="thumbnail portfolio-thumbnail">
                    <img src="/static/media/{{ en.img }}" alt="Portfolio">
                    <div class="caption portfolio-caption">
                      <p class="date">{{ en.time|date:'Y-m-d' }}</p>
                      <h3 class="portfolio-title">{{ en.body|truncatechars:15 }}</h3>
                      <p class="portfolio-subtitle">{{ en.title }}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="footer-top">
                        <div class="col-md-4">
                            <!-- footer About section
                            ========================== -->
                            <div class="footer-about">
                                <h3 class="footer-title">关于</h3>
                                <p>梦想还是要有的，万一见鬼了呢？<br>
                                 看见别人都那么努力，那么勤奋， <br>
                                  那么意气风发地走在成功的路上，你问问自己， <br>
                                  难道就不想成为他们的绊脚石吗？</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- footer Address section
                            ========================== -->
                            <div class="footer-address">
                                <h3 class="footer-title">地址</h3>
                                <p>某某市某某路某某号楼3楼</p>
                                <p class="contact-address">
                                    联系方式 : <a href="tel:+610383666274">不方便透漏</a> <br>
                                    给我们写信 : <a href="mailto:info@info.com">不要想着写信，不接收的</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- footer Media link section
                            ========================== -->
                            <div class="footer-social-media">
                                <h3 class="footer-title">保持联系</h3>
                                <ul class="footer-media-link">
                                    <li><a href="#"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="tf-ion-social-linkedin-outline" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="tf-ion-social-instagram-outline" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-nav text-center">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="index.html">首页</a></li>
                                <li><a href="services.html">服务</a></li>
                                <li><a href="portfolio.html">产品</a></li>
                                <li><a href="#">我们的团队</a></li>
                                <li><a href="contact.html">联系</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>&copy; 2013-2017 All rights reserved. <br> Design and Developed By Themefisher /  More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- Mixitup -->
    <script src="/static/js/jquery.mixitup.js"></script>
    <!-- Lightbox -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <!-- Parallax -->
    <script src="/static/js/parallax.min.js"></script>
    <!-- Video -->
    <script src="/static/js/jquery.vide.js"></script>
   
 <script>
      function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.674, lng: -73.945},
          zoom: 12,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });
      }
    </script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1wnvqSDk17WSacIFP7xJnXYSeIjzU2ts&callback=initMap" async defer>-->
<!--</script>-->


    <!-- =======
        Main Js
    ============ -->
    <script src="/static/js/script.js"></script>
  </body>
</html>

